# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\dongl\Google Drive\School\BCIT\3T\COMP3522_ObjectOrientedProgramming2\COMP3522\Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
